<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="id" placeholder="ID"/>
        <input type="text" name="name" placeholder="NameUser"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="email" placeholder="email">

        <button type="submit">Delete</button>
    </form>
</div>
<div>User List</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Найти</button>
</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{email}}</i>
    </div>
{{/messages}}
</body>
</html>